 {% extends "showlist.html" %}


{% block styles %}
body{
	background:#404040;
}



{% endblock %}
 


 {% block body %}
{{super()}}

{% block ridelist %} {% endblock %}

{% block newride %}
<div id="new_ride_form">
<h2 style="text-align:center">Create New Ride query</h2>

<form method="post" action="/added" >

<div id="starting_pt">Starting point: <input id="start_input" type="text" name="start" value="IIIT DM"></div>

<div id="destination">Destination: <input id="end_input" type="text" name="end" ></div>

<div id="date">Date : <input id="dd_input" type="text" name="date_d" placeholder="dd"> <input id="mm_input" type="text" name="date_m" placeholder="mm"> <input id="yy_input" type="text" name="date_y" placeholder="yy"></div>

<div id="time">Time of Ride: <input id="time_input_h" type="text" name="time_h" value="5"> : <input id="time_input_h" type="text" name="time_m" value="00">

<select name="a_p" id="time_input_h"  >

          <option value = "am">am</option>
          <option value = "pm">pm</option>

</select>


</div>

<button type='submit' id="new_ride_button">Submit</button>

</form>

</div>


{% endblock %}
 {% endblock %}}
