{% extends "home.html"%}


{% block styles %}
body{

width:100%;
	background:linear-gradient(to bottom,rgb(80,116,147	),rgb(156,114,70));
    background-repeat:no-repeat;
    margin:0 auto;

}

 
 footer{
 display:none;
 }
 
{% endblock %}
 
 
{% block body %}

<div id="head">IIIT D&M TaxiPort</div>

<div id="hi_user">Hi {{user | title}}
</div>

<nav ><a href="/test">New Ride</a><a href="/show">Schedule</a><a href="/logout">Logout</a></nav>

{% block ridelist %}

<div id="upcoming"><div id="upcoming_text">Upcoming rides</div>


<div id="header_list">
<span id="head_start">Depart From</span>
<span id="head_end">Destination</span>
<span id="head_time">Date and Time</span>
</div>
<hr>
<div id="upcoming_box">

{% for item in items %}

<a  href= {{ "/ride/" + item._id}} >

 <div class="ride_link">

 <span id="start">{{item.start}}</span><span id="end"> {{item.end}} </span> <span id="d_t">{{item.date_d}} of {{item.date_m}} 20{{item.date_y}} at {{item.time_h}} : {{item.time_m}} {{item.time_ap}}</span> 


</div>

</a>
{% endfor %}




</div>



</div>



{% endblock %}


	

{% endblock %}
 
